.artha-icon{
    width: 50%;
}

.btn-emergencia{
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-qrcode{
    color: #fff;
    background-color: #7c3bc0;
    border-color: #7c3bc0;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    font-weight: bold;
}
